---
import AboutMe from "@/components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";
import ExperienceIcon from "@/components/icons/ExperienceIcon.astro";
import ProjectsIcon from "@/components/icons/ProjectsIcon.astro";
---

<Layout
  title="Portafolio de Edgar Medina - Desarrollador Full-Stack Jr con +2 años de experiencia"
  description="Conoce a Edgar Medina, un desarrollador Full-Stack Jr con +2 años de experiencia."
>
  <main class="px-4 lg:px-0">
    <SectionContainer class="py-20 pb-24">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experiencia" class="w-full mx-auto lg:w-[740px]">
      <TitleSection>
        Experiencia Laboral <ExperienceIcon class="size-8" />
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="w-full mx-auto lg:w-[740px]">
      <TitleSection>
        Proyectos <ProjectsIcon class="size-8" />
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="w-full mx-auto lg:w-[740px]">
      <TitleSection>
        Sobre mí 👨‍💻
      </TitleSection>
      <AboutMe/>
    </SectionContainer>
  </main>
</Layout>
