---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Septiembre - Diciembre 2024",
        place: "COLCHONES WENDY, S.A. DE C.V",
        title: "Prácticas Profesionales (Digitalización del proceso de requisiciones)",
        description:
            "Desarrollo de una aplicación web para la digitalización del proceso de requisiciones de la empresa, utilizando tecnologías como C#, SqlServer, ZKTeco, entre otras.",
        //link: "https://wendy.mx/",
    },
    {
        date: "Enero - Septiembre 2023",
        place: "Bombas Mejorada S.A. de C.V.",
        title: "Prácticas Profesionales (Desarrollo de App Nativa Android) y Auxiliar de TI",
        description:
            "Desarrollo de una aplicación nativa Android para la empresa, así como soporte técnico a los empleados de la empresa, mantenimiento de equipos de cómputo, administración, entre otras actividades.",
        //link: "https://corporativomejorada.mx/",
    },
    {
        date: "Septiembre - Diciembre 2022",
        place: "Plataforma Abierta de Innovación y Desarrollo de Jalisco PLAi",
        title: "Servicio Social y Auxiliar de TI",
        description:
            "Desarrollo de un software interno en equipo para la empresa, así como también apoyo en equipos audiovisuales y soporte técnico.",
        //link: "https://plai.mx/",
    },
    {
        date: "Enero - Abril 2022",
        place: "TELETON (CRIT Occidente)",
        title: "Prácticas Profesionales (Auxiliar de TI)",
        description:
            "Soporte técnico a los empleados de la empresa, mantenimiento de equipos de cómputo, administración mediante un sistema de tickets, entre otras actividades.",
        //link: "https://teleton.org/nosotros/",
    },
    {
        date: "Marzo - Septiembre 2019",
        place: "Conagua (Comisión Nacional del Agua)",
        title: "Servicio Social",
        description:
            "Gestión y captura de datos obtenidos de archivos físicos en Microsoft Access y Microsoft Excel.",
        link: "",
    },
]
---


<ol class="relative ml-3 pl-3">
    {
        EXPERIENCE.map(experiencie => (
            <li class="ms-4">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
