---
import ExperienceItem from "./ExperienceItem.astro";
import { EXPERIENCE } from "@/values/Experience.astro";
---


<ol class="relative ml-3 pl-3">
    {
        EXPERIENCE.map(({ date, place, title, description, shortDescription, link, image }) => (
            <li class="ms-4">
                <ExperienceItem {...{ date, place, title, description, shortDescription, link, image }} />
            </li>
        ))
    }
</ol>
