---
  const year = new Date().getFullYear()
---

<footer class="rounded-lg shadow m-4 w-full mx-auto mb-10 text-gray-700 dark:text-white/80">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
        <img
          src="dev.svg"
          class="h-8"
          alt=":)"
        />
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-700 dark:text-white/80 sm:mb-0"
      >
        <li>
          <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
        </li>
        <li>
          <a href="#experiencia" class="hover:underline me-4 md:me-6">Experiencia</a>
        </li>
        <li>
          <a href="#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
        </li>
        <li>
          <a href="mailto:edgar.medina.4639@gmail.com" class="hover:underline">Contacto</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-blue-500 sm:text-center font-semibold"
      >© {year} <a href="#top" class="hover:underline"
        >Edgar Geovanni Medina Pérez</a
      ></span
    >
  </div>
</footer>
