---
import Badge from "./Badge.astro";
import BadgeRed from "./BadgeRed.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
import MxIcon from "./icons/MxIcon.astro";
import Social from "./Social.astro";
const personalImageAlt = "Edgar Medina";
---

<div class="max-w">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16 dark:shadow-white/50 shadow-black/50 "
      src="/me_3.jpg"
      alt={personalImageAlt}
    />

    <a
      href="https://www.linkedin.com/in/edgar-geovanni-medina-p%C3%A9rez-580670342/"
      target="_blank"
      rel="noopener"
      class="flex justify-center items-center hover:scale-105 transition"
    >
      <BadgeRed>No Disponible Para Trabajar</BadgeRed>
    </a>
  </div>
  <h1
    class="dark:text-white text-black text-2xl md:text-3xl lg:text-4xl font-bold flex flex-row pb-6 lg:pb-10 gap-x-4"
  >
    ¡Hola! Mi nombre es Edgar Medina 👋
  </h1>

  <h2 class="text-gray-800 dark:text-white/80 text-lg md:text-xl lg:text-2xl">
    <span>+2 años de experiencia.</span>
    <span class="text-blue-500">Desarrollador Full-Stack Jr y Soporte Técnico.</span> Una persona que busca aprender, crecer y mejorar de manera profesional y personal. Originario de <span class="text-green-500"
      >Guadalajara,</span><span>Jalisco</span>, <span class="text-red-500">México. </span><MxIcon class="inline-flex"/>
  </h2>

  <nav class="flex flex-wrap gap-4 mt-8 text-gray-200">
    <Social
      href="https://www.linkedin.com/in/edgar-geovanni-medina-p%C3%A9rez-580670342/"
    >
      <LinkedInIcon class="size-4 md:size-6" />
      LinkedIn
    </Social>
    <Social href="https://github.com/EdgarMedina051001">
      <GithubIcon class="size-4 md:size-6" />
      Github
    </Social>
    <Social href="mailto:edgar.medina.4639@gmail.com">
      <MailIcon class="size-4 md:size-6" />
      edgar.medina.4639@gmail.com
    </Social>
  </nav>
</div>
